h1 {
  font-size: 4.2vh;
  background: -webkit-linear-gradient( var(--purple-blue), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--Imbue);
  height: 6vh;
  font-weight: bold;
  letter-spacing: 1%;
  margin: 0;
}
