
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$My-Monster-Doll-primary: mat.define-palette(mat.$deep-purple-palette, 900);
$My-Monster-Doll-accent: mat.define-palette(mat.$amber-palette, A400);

// The warn palette is optional (defaults to red).
$My-Monster-Doll-warn: mat.define-palette(mat.$pink-palette, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$My-Monster-Doll-theme: mat.define-dark-theme((
  color: (
    primary: $My-Monster-Doll-primary,
    accent: $My-Monster-Doll-accent,
    warn: $My-Monster-Doll-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($My-Monster-Doll-theme);

/* You can add global styles to this file, and also import other style files */
:root{
--accent: #FFC400;
--font-gold: #9d8665;
--primary: #311B92;
--warn: #E91E63;
--Imbue: 'Imbue', serif;
--Cinzel: 'Cinzel', serif;///заголовок
--Bona: 'Bona Nova', serif;///база
--Caveat: 'Caveat', cursive;
--Forum: 'Forum', cursive;
}

html, body { height: 100%; box-sizing: border-box;}
body { margin: 0; font-family: var(--Bona) }

body {
  background-image: url('./assets/1.gif') !important;
  background-size: cover;
  color: black !important;


header {
  height: 12vh;
  display: flex;
  flex: content;
  justify-content: space-between;
  padding:0 2%;
  align-items: center;
}

.page {
  width: 96%;
  margin: 2vh auto;
  padding: 1vh 0;
  background-color: white;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;



}

}
.mat-menu-panel {width: 50vw; height: auto; left:0; font-size: 10em;}

.mat-raised-button.mat-accent {
  color: black;
}

