.slide {
  width: 80%;
  height: 60vh;
  border-radius: 10px;
  margin: 2em auto;
  display:flex;
  justify-content: center;
  background-color: white;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 60vh;
    background-size: cover;
  background-position: center;
  margin: 0 auto;
  }
}

.slider ::-webkit-scrollbar {
  width: 0;
}

.rightArrow,
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: var(--accent);
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: var(--accent);
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: relative;
  height: 70vh;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.dot,
.active {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: #FFC400;
}

.active {
  color: red;
}

