<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="type">Type</button>
  <button mat-menu-item [matMenuTriggerFor]="character">Character</button>
  <button mat-menu-item [matMenuTriggerFor]="years">Years</button>
  <button mat-menu-item [matMenuTriggerFor]="gender">Gender</button>
  <button mat-menu-item [matMenuTriggerFor]="series">Series</button>
</mat-menu>

<mat-menu #type="matMenu">

</mat-menu>

<mat-menu #character="matMenu">

</mat-menu>

<mat-menu #years="matMenu">

</mat-menu>

<mat-menu #gender="matMenu">

</mat-menu>
<mat-menu #series="matMenu">

</mat-menu>




