<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="type">Type</button>
  <button mat-menu-item [matMenuTriggerFor]="character">Character</button>
  <button mat-menu-item [matMenuTriggerFor]="years">Years</button>
  <button mat-menu-item [matMenuTriggerFor]="gender">Gender</button>
  <button mat-menu-item [matMenuTriggerFor]="series">Series</button>
  <button mat-menu-item [matMenuTriggerFor]="exclusive">Exclusive</button>
</mat-menu>

<mat-menu #type="matMenu">
  <div class="categories-menu" *ngFor = "let type of types$ | async">
    <button mat-menu-item>{{type}}</button>
  </div>
</mat-menu>

<mat-menu #character="matMenu">
  <div class="categories-menu" *ngFor = "let character of characters$ | async">
    <button mat-menu-item>{{character}}</button>
  </div>
</mat-menu>

<mat-menu #years="matMenu">
  <div class="categories-menu" *ngFor = "let year of years$ | async">
    <button mat-menu-item>{{year}}</button>
  </div>
</mat-menu>

<mat-menu #gender="matMenu">
  <div class="categories-menu" *ngFor = "let gender of genders$ | async">
    <button mat-menu-item>{{gender}}</button>
  </div>
</mat-menu>
<mat-menu #series="matMenu">
  <div class="categories-menu" *ngFor = "let s of series$ | async">
    <button mat-menu-item>{{s}}</button>
  </div>
</mat-menu>

<mat-menu #exclusive="matMenu">
  <div class="categories-menu" *ngFor = "let exclusive of exclusives$ | async">
    <button mat-menu-item>{{exclusive}}</button>
  </div>
</mat-menu>




